APP_NAME=Laravel
APP_ENV=development
APP_KEY=base64:jD+T4cZzjBnBuk4s+zIsW3bc3OFo7gStZTbjYVJklEc=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://netpro.awh.co.id

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=172.18.0.3
DB_PORT=3306
DB_DATABASE=netpro
DB_USERNAME=root
DB_PASSWORD=
DB_SCHEMA=public

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

MQTT_HOST=52.65.128.229
MQTT_PORT=1883
MQTT_CLIENT_ID=testMqttJumat
MQTT_CLEAN_SESSION=false
MQTT_ENABLE_LOGGING=true
MQTT_AUTH_USERNAME=netpro
MQTT_AUTH_PASSWORD=netproconnect

MQTT_TLS_ENABLED=true
MQTT_TLS_ALLOW_SELF_SIGNED_CERT=false
MQTT_TLS_VERIFY_PEER=true
MQTT_TLS_VERIFY_PEER_NAME=true

MQTT_LAST_WILL_TOPIC=will/topic
MQTT_LAST_WILL_MESSAGE="Last will message"
MQTT_LAST_WILL_QUALITY_OF_SERVICE=0
MQTT_LAST_WILL_RETAIN=false

MQTT_AUTO_RECONNECT_ENABLED=true
MQTT_AUTO_RECONNECT_MAX_RECONNECT_ATTEMPTS=5
MQTT_AUTO_RECONNECT_DELAY_BETWEEN_RECONNECT_ATTEMPTS=5
MQTT_CONNECT_TIMEOUT=60
MQTT_SOCKET_TIMEOUT=5
MQTT_KEEP_ALIVE_INTERVAL=10

REVERB_APP_ID=469806
REVERB_APP_KEY=kjno9ykhigrlep4pm6qh
REVERB_APP_SECRET=r0xspmv1xwqlxxwbwff6
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
