version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    labels:
      lagoon.type: basic
    restart: unless-stopped
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
#    ports:
#      - "9000:9000"
#    volumes:
#      - .:/var/www
#    networks:
#      - app-network

  nginx:
    image: nginx:alpine
    labels:
      lagoon.type: none
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/var/www
      - ./netpro:/usr/share/nginx/html
      - ./public:/var/www/public
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - app-network

  db:
    image: mysql:5.7
    labels:
      lagoon.type: none
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network
    ports:
      - "3306:3306"

volumes:
  dbdata:
    driver: local

networks:
  app-network:
    name: app-network
    driver: bridge
